<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.koreate.mappers.reBoardMapper">
	<insert id="create">
		INSERT INTO re_tbl_board(title, content, writer)
		VALUES(#{title}, #{content}, #{writer})
	</insert>
	<select id="listAllShow" resultType="replyBoardVo">
		<![CDATA[
			SELECT * FROM re_tbl_board
			WHERE bno > 0
			ORDER BY bno DESC, regdate DESC
		]]>
	</select>
	<select id="read" resultType="replyBoardVo">
		SELECT * FROM re_tbl_board WHERE bno = #{bno}
	</select>
	<delete id="remove">
		DELETE FROM re_tbl_board WHERE bno = #{bno}
	</delete>
	<update id="update">
		UPDATE re_tbl_board SET title = #{title}, content = #{content}, updatedate = NOW() WHERE bno = #{bno}
	</update>
</mapper>