<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.koreate.dao.BoardDao">
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				AND title LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				AND content LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				AND writer LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				AND (title LIKE CONCAT('%', #{keyword},'%')
				OR content LIKE CONCAT('%', #{keyword},'%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				AND (writer LIKE CONCAT('%', #{keyword}, '%')
				OR content LIKE CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'tcw'.toString()">
				AND (writer LIKE CONCAT('%', #{keyword}, '%')
				OR content LIKE CONCAT('%', #{keyword}, '%')
				OR title LIKE CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
	</sql>
	<!-- <insert id="registerReply"
		useGeneratedKeys="true"
		keyProperty="bno"
		keyColumn="bno"
		parameterType="RBVO"> -->
	<insert id="registerReply">
		INSERT INTO re_tbl_board(title, content, writer, uno)
		VALUES(#{title}, #{content}, #{writer}, #{uno})
	</insert>
	<update id="updateOrigin">
		UPDATE re_tbl_board SET origin = LAST_INSERT_ID() WHERE bno = LAST_INSERT_ID()
	</update>
	<insert id="addAttach">
		INSERT INTO tbl_attach(fullName, bno)
		VALUES(#{fullName}, LAST_INSERT_ID())
	</insert>
	<select id="getAttach" resultType="string">
		SELECT fullName FROM tbl_attach WHERE bno = #{bno}
		ORDER BY regdate
	</select>
	<select id="listReplyCriteria" resultType="RBVO" >
		<![CDATA[
			SELECT * FROM re_tbl_board WHERE bno > 0
		]]>
		<include refid="search"></include>
		ORDER BY origin DESC, seq ASC
		LIMIT #{pageStart}, #{perPageNum}
	</select>
	<select id="listReplyCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM re_tbl_board WHERE bno > 0
		]]>
		<include refid="search"></include>
	</select>
	<update id="updateCnt">
		UPDATE re_tbl_board SET viewcnt = viewcnt + 1 WHERE bno = #{bno}
	</update>
	<select id="readReply" resultType="RBVO">
		SELECT * FROM re_tbl_board WHERE bno = #{bno}
	</select>
	<update id="updateReply">
		UPDATE re_tbl_board SET seq = seq + 1
		WHERE origin = #{origin} AND seq > #{seq}
	</update>
	<insert id="replyRegister">
		INSERT INTO re_tbl_board(title, content, writer, origin, depth, seq)
		VALUES(#{title}, #{content}, #{writer}, #{origin}, #{depth}, #{seq})
	</insert>
	<update id="update">
		UPDATE re_tbl_board SET title = #{title}, content = #{content} 
		WHERE bno = #{bno}
	</update>
	<delete id="delete">
		DELETE FROM re_tbl_board WHERE bno = #{bno}
	</delete>
	<delete id="deleteAttach">
	 	DELETE FROM tbl_attach WHERE bno = #{bno}
	 </delete>
	 <insert id="replaceAttach">
	 	INSERT INTO tbl_attach(fullName, bno)
	 	VALUES(#{fullName}, #{bno})
	 </insert>
	
	<!-- <select id="getUserByUNO" resultType="UVO">
		SELECT * FROM tbl_user
		WHERE uno = #{uno}
	</select>
	<delete id="deleteComments">
		DELETE FROM tbl_comment WHERE bno = #{bno}
	</delete>
	<delete id="deleteFiles">
		DELETE FROM tbl_attach WHERE bno = #{bno}
	</delete>
	<delete id="modifyFiles">
		DELETE FROM tbl_attach WHERE bno = #{bno}
	</delete>
	<insert id="updateFiles">
		INSERT INTO tbl_attach(fullName, bno)
		VALUES(#{fullName}, #{bno})
	</insert> -->
</mapper>