<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.koreate.dao.BoardDao">
	<insert id="registerReply"
		useGeneratedKeys="true"
		keyProperty="bno"
		keyColumn="bno"
		parameterType="VO">
		INSERT INTO re_tbl_board(title, content, writer)
		VALUES(#{title}, #{content}, #{writer})
	</insert>
	<update id="updateOrigin">
		UPDATE re_tbl_board SET origin = #{bno} WHERE bno = #{bno}
	</update>
	
</mapper>