<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.koreate.dao.CommentDao">
	<insert id="create">
		INSERT INTO tbl_comment(bno, commentText, commentAuth, uno)
		VALUES(#{bno}, #{commentText}, #{commentAuth}, #{uno})
	</insert>
	<select id="list" resultType="CVO">
		SELECT * FROM tbl_comment WHERE bno = #{bno}
		ORDER BY cno DESC;
	</select>
	<update id="update">
		UPDATE tbl_comment SET commentText = #{commentText}, updatedate = NOW()
		WHERE cno = #{cno}
	</update>	
	<delete id="delete">
		DELETE FROM tbl_comment WHERE cno = #{cno}
	</delete>
	<select id="count" resultType="int">
		SELECT COUNT(bno) FROM tbl_comment WHERE bno = #{bno}
	</select>
	<select id="listPage" parameterType="java.util.HashMap" resultType="CVO">
		SELECT * FROM tbl_comment WHERE bno = #{bno}
		ORDER BY cno DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
</mapper>