<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.koreate.dao.UserDao">
	<insert id="signUp">
		INSERT INTO tbl_user(uid, upw, uname)
		VALUES(#{uid}, #{upw}, #{uname})
	</insert>
	<select id="getUserByID" resultType="UVO">
		SELECT * FROM tbl_user
		WHERE uid = #{uid}
	</select>
	<select id="signIn" resultType="UVO">
		SELECT * FROM tbl_user
		WHERE uid = #{uid} AND upw = #{upw}
	</select>
	<select id="getUserByUNO" resultType="UVO">
		SELECT * FROM tbl_user
		WHERE uno = #{uno}
	</select>
</mapper>